*{
    margin: 0;
    padding: 0;
}
body{
    margin:0 20px ;
}
h1{
    text-align: center;
    margin: 20px 0;
}
nav{
    border-top: 2px solid black;
    border-bottom: 2px solid black ;
}
ul li{
    margin: 10px 20px;
}