*{
    margin: 0;
    padding: 0;
}
body{
    
    background-color: #eeeeee;
}
h1{
    text-align: center;
    margin: 20px 0;
}
nav{
    border-top: 2px solid black;
    border-bottom: 2px solid black ;
}

table {
    border-collapse: collapse ;
    margin-top: 50px;
    border: 3px solid black;
    
}
tr, th, td{
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}
.photo{
    margin: auto;
    width: 300px;
    height: 300px;

}
span a {
    font-size: bolder;
   
}
.middle{ text-align: center;}
h3 ,p{
    margin: 20px 0px;
}

.up{
    border-top: 2px solid black;
    
}
.up a{
   text-decoration: none;
}
section{
    width: 60%;
    margin: auto;
    height: 600px;
    padding: 32px;
}
a{
    color: #007bff;
    font-size: bold;
    text-decoration: none;
    
}
a:hover{
    text-decoration: underline;
}
p{
    text-align: justify;
}
span{
    color: #007bff;
    font-style: italic;
}
.right{
    float: right;
    font-size: 12px;
}
